{% extends "layout.html" %} 
{% set title = "Team" %} 
{% block content %}
<div class="columns">

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="/static/images/subhash-sarin-w.jpg">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="https://www.ise.vt.edu/people/faculty/sarin.html">Subhash C. Sarin</a>
        <p>Paul T. Norton Endowed Professor</p>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="https://placehold.it/300x300">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="#">Team Member</a>
        <p>Some description.</p>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="https://placehold.it/300x300">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="#">Team Member</a>
        <p>Some description.</p>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="https://placehold.it/300x300">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="#">Team Member</a>
        <p>Some description.</p>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="https://placehold.it/300x300">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="#">Team Member</a>
        <p>Some description.</p>
      </div>
    </div>
  </div>
  
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image is-1by1">
          <img src="https://placehold.it/300x300">
        </figure>
      </div>
      <div class="card-content">
        <a class="title is-5" href="#">Team Member</a>
        <p>Some description.</p>
      </div>
    </div>
  </div> 
</div>
{% endblock %} 
{% block myscript %}{% endblock %}