{% extends "layout.html" %}
{% block title %}Team{% endblock %}
{% block heading %}Team{% endblock %}
{% block content %}
<div class="row my-4">
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='images/subhash-sarin-w.jpg')}}" alt="">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Subhash C. Sarin</h5>
        <p>Paul T. Norton Endowed Professor</p>
        <a class="btn btn-primary mt-auto" href="https://www.ise.vt.edu/people/faculty/sarin.html">View More</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x300" alt="">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">Fangzhou Sun</h5>
        <p>Graduate Research Assistant</p>
        <a class="btn btn-primary mt-auto" href="#">View More</a>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x300" alt="">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">More People</h5>
        <p>Short bio.</p>
        <a class="btn btn-primary mt-auto" href="#">View More</a>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="http://placehold.it/300x300" alt="">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">More People</h5>
        <p>Short bio.</p>
        <a class="btn btn-primary mt-auto" href="#">View More</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block myscript %}{% endblock %}
