{% extends "layout.html" %} 
{% set title = "TSP Example" %} 
{% block content %}
<div class="columns">
  <div class="column is-4">
    <img src="{{ url_for('static', filename='images/tsp_map.jpg')}}">
  </div>
  <div class="column">
    <p>Some short description...</p> <br>
    <a class="button is-primary" href="/tsp/description/">
          View More
        </a>
  </div>
</div>

<div class="columns">

  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Input</p>
      </header>
      <div class="card-content">
        <form>
          <div class="field">
            <label class="label">Number of cities:</label>
            <div class="control">
              <input class="input" type="text" id="num_cities" name="num_cities" placeholder="integer, valid range [3,99]" required pattern="\b([3-9]|[1-8][0-9]|9[0-9])\b"
                title="integer, valid range [3,99]">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <input type="submit" class="button is-primary" value="Submit">
            </div>
            <div class="control">
              <input type="reset" value="Reset" class="button">
            </div>
          </div>
          <form>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Result Summary</p>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <th>num_cities</th>
            <th>obj</th>
            <th>runtime (sec)</th>
          </thead>
          <tbody id="tbody">
          </tbody>
        </table>
      </div>
      <div class="card-content is-bottom has-text-centered">
        <a id="detail" class="button is-primary " href="/tsp/result/">Detail</a>
      </div>
    </div>
  </div>

</div>
{% endblock %} 
{% block myscript %}
<script>
  function display_summary() {
    var table_row = "";
    if (Storage !== undefined) {
      if (localStorage.tspresult) {
        var res = JSON.parse(localStorage.tspresult);
        table_row += "<tr>" +
          "<td>" + res.num_cities + "</td>" +
          "<td>" + res.obj.toFixed(2) + "</td>" +
          "<td>" + res.runtime.toFixed(3) + "</td>" +
          "</tr>";
      }
    } else {
      alert("Sorry, your browser does not support local storage...");
    }
    $("tbody").html(table_row);
  }

  display_summary();
</script>
{% endblock %}