{% extends "layout.html" %}
{% set active_page = "index" %}
{% set title = "Home" %}
{% block content %}
<div class="row my-4">
  <div class="col">
    <p>Some introduction about team.</p>
    <a class="btn btn-primary" href="/team/">View More</a>
  </div>
</div>

<hr>

<div class="row my-4">
  <div class="col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='images/s-bfls.jpg')}}" alt="">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">Sorghum BFLS</h4>
        <p>A decision support tool for optimal design of sorghum biomass feedstock supply chains.</p>
        <a class="btn btn-primary mt-auto" href="/s-bfls/">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="{{ url_for('static', filename='images/tsp_map.jpg')}}" alt="">
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">TSP Example</h4>
        <p>A traveling salesman problem example.</p>
        <a class="btn btn-primary mt-auto" href="/tsp/">View</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block myscript %}{% endblock %}
