<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <title class="title is-1">%% title|striptags %% - VT BFL Team</title>

  <!-- Style Sheets-->
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
  <style>
    body {
      padding-top: 60px;
    }

    .columns {
      flex-wrap: wrap;
    }

    .card {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .is-bottom {
      margin-top: auto;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar is-fixed-top is-primary">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><img src="/favicon.ico"></a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item">Home</a>
          <a href="/team/" class="navbar-item">Team</a>
          <a href="/contact/" class="navbar-item">Contact</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Projects</a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/s-bfls/">Sorghum BFLS</a>
              <a class="navbar-item" href="/tsp/">TSP Example</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block hero %}{% endblock %}

  <section class="section">
    <div class="container">
      <h1 class="title">%% title|safe %%</h1>
      {% block content %}{% endblock %}
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer has-background-primary">
    <div class="content has-text-centered has-text-white">
      <p>Copyright &copy; VT BFL Team 2018</p>
    </div>
  </footer>

  <!-- Script -->
  <script>
    // for navbar burger animation, this part works without jQuery
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);
      burger.addEventListener('click', function(){
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    import VueFormGenerator from "vue-form-generator";
    import "vue-form-generator/dist/vfg.css";  // optional full css additions
  </script>
  {% block myscript %}{% endblock %}

</body>

</html>