<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>{{ title|striptags }} - VT BFL Team</title>

    <!-- Bootstrap core CSS and customized CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>body{padding-top: 50px;}</style>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">VT BFL Team</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          {%- set navigation_bar = [('/', 'index', 'Home'),
                                    ('/team/', 'team', 'Team'),
                                    ('/contact/', 'contact', 'Contact')] -%}
          {% for href, id, caption in navigation_bar %}
            <li class="nav-item {% if id == active_page %}active{% endif %}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {%- endfor %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Projects
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/s-bfls/">Sorghum BFLS</a>
                <a class="dropdown-item" href="/tsp/">TSP Example</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container px-4">
      <!-- Content Heading -->
      <h1 class="my-4">{{ title|safe }}</h1>
      <!-- Content Body -->
      {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="py-4 bg-primary">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; VT BFL Team 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/my_util.js') }}"></script>
    {% block myscript %}{% endblock %}
  </body>
</html>
