<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>{{ title|striptags }} - VT BFL Team</title>

    <!-- Bootstrap core CSS and customized CSS-->
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/flatly/bulmaswatch.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <style>body{padding-top: 50px;} .card{height: 100%;} .navbar-brand.navbar-item{color: #fff;}</style>
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar  is-fixed-top">
        <div class="container">
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="/favicon.ico">
              </a>
            <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
              <a href="/" class="navbar-item">Home</a>
              <a href="/team/" class="navbar-item">Team</a>
              <a href="/contact/" class="navbar-item">Contact</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Projects</a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="/s-bfls/">Sorghum BFLS</a>
                  <a class="navbar-item" href="/tsp/">TSP Example</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>



    <!-- Page Content -->
    {% block hero %}{% endblock %}

      <section class="section">
          <div class="container">
            <h1 class="title">{{ title|safe }}</h1>
            {% block content %}{% endblock %}
          </div>
        </section>


    <!-- Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>Copyright &copy; VT BFL Team 2018</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/my_util.js') }}"></script> -->
    {% block myscript %}{% endblock %}
    <script type="text/javascript">
      (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
        burger.addEventListener('click', function(){
          burger.classList.toggle('is-active');
          nav.classList.toggle('is-active');
        });
      })();
    </script>
  </body>
</html>
