{% extends "layout.html" %}
{% block title %}TSP Example Detailed Results{% endblock %}
{% block heading %}TSP Example <small>Detailed Results</small>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col">
      <p>This is an example to show result data can be passed to another page. </p>
      <div class="alert alert-warning">TODO: visualize the result.</div>
      <div id="result"></div>
    </div>
  </div>
  <hr>
{% endblock %}
{% block myscript %}
  <script>
    if(typeof(Storage) !== "undefined") {
      if (localStorage.tsp_result) {
        document.getElementById("result").innerHTML = localStorage.tsp_result;
      } else {
        document.getElementById("result").innerHTML = "<div class='alert alert-danger'>Please submit input.</div>";
      }
    } else {
      window.alert("Sorry, your browser does not support local storage...");
    }
  </script>
{% endblock %}
